<a href="https://colab.research.google.com/github/Vijay0553/Data-Analytics/blob/main/basicpython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sys
print("Python version")
print(sys.version)
print("Version info.")
print(sys.version_info)

Python version
3.11.12 (main, Apr  9 2025, 08:55:54) [GCC 11.4.0]
Version info.
sys.version_info(major=3, minor=11, micro=12, releaselevel='final', serial=0)

In [3]:
import datetime
now =datetime.datetime.now()
print("Current date and time : ")
print(now.strftime("%Y-%m-%d %H:%M:%S"))

Current date and time :
2025-05-21 17:42:07

In [6]:
from math import pi
r =float(input("Input the radius of the circle : "))
print("The area of the circle with radius "+str(r)+" is: "+str(pi * r**2))

Input the radius of the circle : 25
The area of the circle with radius 25.0 is: 1963.4954084936207

In [13]:
fname=input("Input your First Name : ")
lname=input("Input your Last Name : ")
print("Hello  "+fname+" "+lname)

Input your First Name : vijay
Input your Last Name : ms
Hello  vijay ms

In [15]:
values = input("Input some comma separated numbers : ")
list1 = values.split(",")
tuple1 = tuple(list1)
print('List : ',list1)
print ('Tuple : ',tuple1)

Input some comma separated numbers : 1 2 3 4 5 6 7 8 9
List :  ['1 2 3 4 5 6 7 8 9']
Tuple :  ('1 2 3 4 5 6 7 8 9',)

In [16]:
txt = "hello, my name is vijay, I am from USA"
x = txt.split(", ")
print(x)
txt = "apple#banana#cherry#orange"
x = txt.split("#", 1)
print(x)

['hello', 'my name is vijay', 'I am from USA']
['apple', 'banana#cherry#orange']

In [17]:
filename =input("Input the Filename: ")
f_extns=filename.split(".")
print("The extension of the file is : "+repr(f_extns[-1]))

Input the Filename: jack
The extension of the file is : 'jack'

In [18]:
import datetime
today = datetime.datetime.now()
print (today)
print (str(today))
print (repr(today))

2025-05-21 17:56:34.942196
2025-05-21 17:56:34.942196
datetime.datetime(2025, 5, 21, 17, 56, 34, 942196)

In [21]:
color_list = ["Red","Green","White" ,"Black"]

color_list=["Red","Green","White","Black"]
print("%s %s"%(color_list[0],color_list[-1]))
print("%s %s"%(color_list[0],color_list[-2]))
print("%s %s"%(color_list[2],color_list[-1]))

Red Black
Red White
White Black

In [22]:
a =int(input("Input an integer : "))
n1 =int("%s"% a )
n2 =int("%s%s"%(a,a))
n3 =int("%s%s%s"%(a,a,a))
print(n1+n2+n3)

Input an integer : 25
255075

In [23]:
pi =3.1415926535897931
r=6.0
V=4.0/3.0*pi* r**3
print('The volume of the sphere is: ',V)

The volume of the sphere is:  904.7786842338603

In [27]:
time =float(input("Input time in seconds: "))
day = time //(24*3600)
time = time %(24*3600)
hour = time //3600
time %=3600
minutes = time //60
time %=60
seconds = time
print("d:h:m:s-> %d days :%d hours:%d minutes:%d seconds" % (day, hour, minutes, seconds))

Input time in seconds: 485
d:h:m:s-> 0 days :0 hours:8 minutes:5 seconds